<!DOCTYPE html>
<html>
<head>
    <title>SignUp as a Customer</title>
</head>
<body>
    <h1>SignUp</h1>
    <form method="POST" action="/SignUp/customer">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <input type="submit" value="SignUp"> 
    </form>
</body>
</html>